@import '../vars';

main {
  &__photo {
    border-radius: 50%;
    box-shadow: 0 0 0 21px $white, 0 0 0 23px $main-color;
  }

  &__title {
    position: relative;

    margin: 0;
    margin-top: 407px;

    font-size: 4rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    &_firstname {
      display: block;

      font-size: 3.46rem;
      line-height: 1;
      font-weight: 100;
    }
  }

  &__position {
    margin: 0;

    font-weight: bold;
    font-size: 39px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
  }

  &__add-name {
    margin: 0;
    margin-top: 41px;

    font-size: 1.625rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
}