mixin title()
  .main
    img(class ='main__photo' src='images/photo.svg' alt='main-photo')
    h1.main__title
      span.main__title--firstname Name here
      |Surname 
    p.main__position Graphic designer
    p.main__add-name Name here