include ../block-title/block-title
include ../history/history

mixin experience(data)
  section.experience
    +block-title({name: 'Experience', icon: 'experience'})
    .experience__history-wrap
      +history(data)