include ../block-title/block-title
include ../history/history

mixin experience(data)
  section.experience
    +block-title({ name: 'Experience', icon: 'experience' })
    ul.experience__history
      each item in data
        +history(item)