@import '../../vars';

.history {
  position: relative;
  padding-left: 8.3%;
  margin-bottom: 0.96rem;

  &::before {
    content: "";
    position: absolute;
    top: 0.125rem;
    left: 2%;
    padding: 1.55%;

    background: $text;
    border-radius: 50%;
  }

  &__header {
    margin: 0;

    font-size: 1.71rem;
    line-height: 1;

    text-transform: uppercase;

    @media(max-width: 1440px) {
      font-size: 1.25rem;
      line-height: 1;
    }

    @media(max-width: 1280px) {
      font-size: 1.125rem;
      line-height: 1.33;
    }

    @media(max-width: 1024px) {
      font-size: 1.33rem;
      line-height: 1.58;
    }

    &_theme-blue {
      color: $main-color;
    }
  }

  &__dates {
    font-weight: normal;
    text-transform: none;
    
    color: $text;
  }

  &__second-title {
    display: block;
    margin-top: 0.459rem;

    font-weight: normal;

    color: $text;

    @media(max-width: 1280px) {
      margin-top: 0;
    }
  }

  &__text {
    margin: 0;
    margin-top: 0.417rem;
    
    @media(max-width: 1024px) {
      font-size: 0.8rem;
    }
  }
}