@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-Regular.woff) format("woff"), url(fonts/MyriadPro-Regular.ttf) format("truetype"), url(fonts/MyriadPro-Regular.svg#webfont) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-Bold.woff) format("woff"), url(fonts/MyriadPro-Bold.ttf) format("truetype"), url(fonts/MyriadPro-Bold.svg#webfont) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-LightSemiExtended.woff) format("woff"), url(fonts/MyriadPro-LightSemiExtended.ttf) format("truetype"), url(fonts/MyriadPro-LightSemiExtended.svg#webfont) format("svg");
  font-weight: 100;
  font-style: normal; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.main {
  width: 964px; }

body {
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.main__title {
  position: relative;
  margin: 0;
  padding-top: 380px;
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center; }

.main__title--firstname {
  display: block;
  font-weight: 100;
  font-size: 85px;
  line-height: 1; }

.main__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 314px;
  height: 314px;
  margin-left: -152px;
  border-radius: 50%;
  box-shadow: 0 0 0 21px #ffffff, 0 0 0 22px #3d6cb0;
  background: #3d6cb0; }

.main__position {
  margin: 0;
  font-weight: bold;
  font-size: 39px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase; }

.main__add-name {
  margin: 0;
  margin-top: 41px;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.profile {
  margin-top: 48px; }

.profile__text {
  margin: 0;
  width: 644px;
  margin-top: 34px; }

.profile__tex--bold {
  font-weight: bold; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.contacts {
  margin-top: 90px; }

.contacts__table {
  margin-top: 63px;
  font-size: 32px;
  line-height: 1.2;
  border-collapse: collapse; }

td {
  padding: 0;
  vertical-align: top; }

td:first-child {
  padding-right: 61px;
  padding-bottom: 47px;
  font-weight: bold;
  color: #3d6cb0;
  text-transform: uppercase; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.skills {
  margin-top: 47px; }

.skills__list {
  margin-top: 46px;
  list-style: none;
  text-transform: uppercase; }

.skill__item {
  position: relative;
  padding-bottom: 56px;
  font-size: 41px;
  line-height: 63px;
  text-align: center; }

.skill__item::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 20px;
  background: radial-gradient(circle at center, #f4f6f9 40%, transparent 41%);
  background-size: 43px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 86%;
  height: 50px; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.descriptions {
  margin: 0;
  padding: 0;
  padding-top: 63px;
  list-style: none; }

.description {
  position: relative;
  padding-left: 68px;
  margin-bottom: 22px; }

.description::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%; }

.description__header {
  margin: 0;
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase; }

.description__header--degree {
  color: #3d6cb0; }

.description__dates {
  font-weight: normal;
  text-transform: none;
  color: #000000; }

.description__specify {
  display: block;
  margin-top: 11px;
  font-weight: normal;
  color: #000000; }

.description__text {
  margin: 0;
  margin-top: 10px; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.experience {
  margin-top: 105px; }

.experience__descriptions {
  margin-top: 21px; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #3d6cb0;
  align-items: center;
  text-transform: uppercase; }

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 112px;
  height: 111px;
  background: #3d6cb0;
  border-radius: 50%; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #3d6cb0; }

.software__item {
  font-size: 51px;
  line-height: 63px; }

.software__list {
  margin: 0;
  padding: 0;
  list-style: none; }

