@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-Regular.woff) format("woff"), url(fonts/MyriadPro-Regular.ttf) format("truetype"), url(fonts/MyriadPro-Regular.svg#webfont) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-Bold.woff) format("woff"), url(fonts/MyriadPro-Bold.ttf) format("truetype"), url(fonts/MyriadPro-Bold.svg#webfont) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-LightSemiExtended.woff) format("woff"), url(fonts/MyriadPro-LightSemiExtended.ttf) format("truetype"), url(fonts/MyriadPro-LightSemiExtended.svg#webfont) format("svg");
  font-weight: 100;
  font-style: normal; }

body {
  width: 1920px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.main {
  display: flex;
  justify-content: space-between;
  padding: 6.7% 4.5% 0; }

.first-column {
  width: 38.7%; }

.second-column {
  width: 56.7%; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding: 3.76% 1% 3.76% 20%;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17.9%;
  height: 100%; }

.title--second-column {
  padding: 2% 1% 3.76% 14.7%; }

.title--second-column::before {
  width: 11.8%; }

.main__title {
  position: relative;
  margin: 0;
  padding-top: 407px;
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center; }

.main__title--firstname {
  display: block;
  font-size: 83px;
  line-height: 1;
  font-weight: 100; }

.main__title::before {
  /*content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 49%;
    height: 49%;
    margin-left: -24.5%;

    border-radius: 50%;
    box-shadow: 0 0 0 21px #ffffff,
    0 0 0 22px $main-color;
    background: $main-color;*/
  /* box-shadow: 0 0 0 21px #ffffff, 0 0 0 22px #3d6cb0; */
  /* background: #3d6cb0; */
  content: "";
  position: absolute;
  top: 22px;
  left: 50%;
  margin-left: -24%;
  border-radius: 50%;
  box-shadow: 0 0 0 21px #ffffff, 0 0 0 23px #0270ba;
  background: #0270ba;
  padding: 23.3%;
  /*background:
    radial-gradient(circle at center, #3d6cb0 37.2%, transparent 37.5%), 
    radial-gradient(circle at center, #ffffff 42%, transparent 42.3%),
    radial-gradient(circle at center, #3d6cb0 42.4%, transparent 42.5%);*/ }

.main__position {
  margin: 0;
  font-weight: bold;
  font-size: 39px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase; }

.main__add-name {
  margin: 0;
  margin-top: 41px;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase; }

.profile {
  width: 94.8%;
  margin-top: 22px; }

.profile__title::before {
  background: url(images/profile-icon.png) 0 0 no-repeat;
  background-size: 100%; }

.profile__text {
  margin: 0;
  margin-top: 13px; }

.profile__text--bold {
  font-weight: bold; }

.contacts {
  width: 94.8%;
  margin-top: 69px; }

.contacts__title::before {
  background: url(images/phone-icon.png) 0 0 no-repeat;
  background-size: 100%; }

.contacts__table {
  margin-top: 42px;
  font-size: 32px;
  line-height: 1.2;
  border-collapse: collapse; }

td {
  padding: 0;
  vertical-align: top; }

td:first-child {
  padding-right: 14%;
  padding-bottom: 47px;
  font-weight: bold;
  color: #0270ba;
  text-transform: uppercase; }

.skills {
  width: 94.8%;
  margin-top: 21px; }

.skills__title::before {
  background: url(images/skills-icon.png) 0 0 no-repeat;
  background-size: 100%; }

.skills__list {
  margin-top: 22px;
  padding: 0;
  list-style: none; }

.skill__item {
  position: relative;
  min-width: 450px;
  margin: 0 auto;
  padding-bottom: 56px;
  font-size: 41px;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase; }

.skill__item::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 12px;
  background: radial-gradient(circle at center, #e7e7e7 38%, transparent 39%);
  background-size: 8.3%;
  background-repeat: repeat-x;
  width: 80%;
  height: 50%; }

.skill__item::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 12px;
  background: radial-gradient(circle at center, #0270ba 38%, transparent 40%);
  background-repeat: repeat-x; }

.skill__item:nth-child(1)::after {
  background-size: 11.2%;
  width: 59%;
  height: 50%; }

.skill__item:nth-child(2)::after {
  background-size: 9.1%;
  width: 73%;
  height: 50%; }

.skill__item:nth-child(3)::after {
  background-size: 16.9%;
  width: 39%;
  height: 50%; }

.skill__item:nth-child(4)::after {
  background-size: 9.1%;
  width: 73%;
  height: 50%; }

.education {
  margin-top: -17px; }

.education__title::before {
  background: url(images/education-icon.png) 0 0 no-repeat;
  background-size: 100%; }

.descriptions {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none; }

.description {
  position: relative;
  padding-left: 82px;
  margin-bottom: 23px; }

.description::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 20px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%; }

.description__header {
  margin: 0;
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase; }

.description__header--degree {
  color: #0270ba; }

.description__dates {
  font-weight: normal;
  text-transform: none;
  color: #000000; }

.description__university {
  display: block;
  margin-top: 11px;
  font-weight: normal;
  color: #000000; }

.description__text {
  margin: 0;
  margin-top: 10px; }

.experience {
  margin-top: 83px; }

.experience__title::before {
  background: url(images/experience-icon.png) 0 0 no-repeat;
  background-size: 100%; }

.experience__descriptions {
  margin-top: 21px; }

.description__specify {
  display: block;
  margin-top: 11px;
  font-weight: normal;
  color: #000000; }

.software {
  margin-top: 87px; }

.software__title::before {
  background: url(images/software-icon.png) 0 0 no-repeat;
  background-size: 100%; }

.software__list {
  width: 44.35%;
  margin: 8px 0 0 12px;
  padding: 0;
  list-style: none; }

.software__list--margin {
  margin-right: 9%; }

.software__item {
  position: relative;
  padding-bottom: 72px;
  font-size: 41px;
  line-height: 63px;
  text-transform: uppercase; }

.container {
  display: flex; }

.software__item::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 28px;
  background: #e7e7e7;
  width: 100%;
  height: 27%; }

.software__item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 28px;
  background: #0270ba;
  height: 27%; }

.software__list:nth-child(1) .software__item:nth-child(1)::after {
  width: 88%; }

.software__list:nth-child(1) .software__item:nth-child(2)::after {
  width: 68%; }

.software__list:nth-child(1) .software__item:nth-child(3)::after {
  width: 54%; }

.software__list:nth-child(2) .software__item:nth-child(1)::after {
  width: 80%; }

.software__list:nth-child(2) .software__item:nth-child(2)::after {
  width: 59%; }

.software__list:nth-child(2) .software__item:nth-child(3)::after {
  width: 88%; }

@media (max-width: 1440px) {
  body {
    font-size: 18px;
    line-height: 22px; }
  .main__title {
    font-size: 72px; }
  .title {
    font-size: 47px;
    line-height: 56px; }
  .skill__item,
  .description__header,
  .software__item {
    font-size: 30px;
    line-height: 36px; }
  .contacts__table {
    font-size: 24px; } }

@media (max-width: 1280px) {
  .first-column {
    width: 50%; }
  .second-column {
    width: 50%; }
  .description__university,
  .description__specify {
    margin-top: 0; } }

@media (max-width: 1024px) {
  .main {
    display: block; }
  .first-column {
    width: 100%; }
  .second-column {
    width: 100%; } }

