@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-Regular.woff) format("woff"), url(fonts/MyriadPro-Regular.ttf) format("truetype"), url(fonts/MyriadPro-Regular.svg#webfont) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-Bold.woff) format("woff"), url(fonts/MyriadPro-Bold.ttf) format("truetype"), url(fonts/MyriadPro-Bold.svg#webfont) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"), url(fonts/MyriadPro-LightSemiExtended.woff) format("woff"), url(fonts/MyriadPro-LightSemiExtended.ttf) format("truetype"), url(fonts/MyriadPro-LightSemiExtended.svg#webfont) format("svg");
  font-weight: 100;
  font-style: normal; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

body {
  width: 1920px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.main {
  display: flex;
  justify-content: space-between;
  padding: 6.7% 4.5% 0; }

.first-column {
  width: 38.7%; }

.secont-column {
  width: 55.7%; }

.main__title {
  position: relative;
  margin: 0;
  padding-top: 407px;
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center; }

.main__title--firstname {
  display: block;
  font-size: 83px;
  line-height: 1;
  font-weight: 100; }

.main__title::before {
  /*content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 49%;
    height: 49%;
    margin-left: -24.5%;

    border-radius: 50%;
    box-shadow: 0 0 0 21px #ffffff,
    0 0 0 22px $main-color;
    background: $main-color;*/
  /* box-shadow: 0 0 0 21px #ffffff, 0 0 0 22px #3d6cb0; */
  /* background: #3d6cb0; */
  content: "";
  position: absolute;
  top: 22px;
  left: 50%;
  margin-left: -24%;
  border-radius: 50%;
  box-shadow: 0 0 0 21px #ffffff, 0 0 0 23px #3d6cb0;
  background: #3d6cb0;
  padding: 23.3%;
  /*background:
    radial-gradient(circle at center, #3d6cb0 37.2%, transparent 37.5%), 
    radial-gradient(circle at center, #ffffff 42%, transparent 42.3%),
    radial-gradient(circle at center, #3d6cb0 42.4%, transparent 42.5%);*/ }

.main__position {
  margin: 0;
  font-weight: bold;
  font-size: 39px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase; }

.main__add-name {
  margin: 0;
  margin-top: 41px;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.profile {
  width: 94.8%;
  margin-top: 46px; }

.profile__title::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  height: 150%;
  background: url(images/profile-icon.png) 0 0 no-repeat; }

.profile__text {
  margin: 0;
  margin-top: 34px; }

.profile__text--bold {
  font-weight: bold; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.contacts {
  width: 94.8%;
  margin-top: 90px; }

.contacts__title::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  height: 150%;
  background: url(images/phone-icon.png) 0 0 no-repeat; }

.contacts__table {
  margin-top: 66px;
  font-size: 32px;
  line-height: 1.2;
  border-collapse: collapse; }

td {
  padding: 0;
  vertical-align: top; }

td:first-child {
  padding-right: 61px;
  padding-bottom: 47px;
  font-weight: bold;
  color: #3d6cb0;
  text-transform: uppercase; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.skills {
  width: 94.8%;
  margin-top: 47px; }

.skills__title::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  height: 150%;
  background: url(images/skills-icon.png) 0 0 no-repeat; }

.skills__list {
  margin-top: 46px;
  list-style: none; }

.skill__item {
  position: relative;
  padding-bottom: 56px;
  font-size: 41px;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase; }

.skill__item::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 20px;
  background: radial-gradient(circle at center, #f4f6f9 40%, transparent 41%);
  background-size: 43px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 86%;
  height: 50px; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.education__title::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -17px;
  width: 100%;
  height: 150%;
  background: url(images/education-icon.png) 0 0 no-repeat; }

.descriptions {
  margin: 0;
  padding: 0;
  padding-top: 63px;
  list-style: none; }

.description {
  position: relative;
  padding-left: 68px;
  margin-bottom: 22px; }

.description::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%; }

.description__header {
  margin: 0;
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase; }

.description__header--degree {
  color: #0270ba; }

.description__dates {
  font-weight: normal;
  text-transform: none;
  color: #000000; }

.description__specify {
  display: block;
  margin-top: 11px;
  font-weight: normal;
  color: #000000; }

.description__text {
  margin: 0;
  margin-top: 10px; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.experience {
  margin-top: 105px; }

.experience__title::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -17px;
  width: 100%;
  height: 150%;
  background: url(images/experience-icon.png) 0 0 no-repeat; }

.experience__descriptions {
  margin-top: 21px; }

.title {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 129px;
  font-size: 63px;
  line-height: 75px;
  color: #0270ba;
  align-items: center;
  text-transform: uppercase; }

.title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 8px;
  margin: -10px 0 0 14px;
  background: #0270ba; }

.software {
  margin-top: 106px; }

.software__title::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -17px;
  width: 100%;
  height: 150%;
  background: url(images/software-icon.png) 0 0 no-repeat; }

.software__list {
  width: 44.35%;
  margin: 43px 0 0 -2px;
  padding: 0;
  list-style: none; }

.software__list--margin {
  margin-right: 109px; }

.software__item {
  position: relative;
  padding-bottom: 74px;
  font-size: 41px;
  line-height: 63px;
  text-transform: uppercase; }

.container {
  display: flex; }

.software__item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 28px;
  background: #f4f6f9;
  width: 100%;
  height: 35px; }

