@import '../../vars';

.contact {

  &__row {
  display: flex;
  }

  &__header {
    width: 31%;
    margin-bottom: 1.917rem;

    font-weight: bold;
    color: $main-color;
    text-transform: uppercase;

    @media(max-width: 1024px) {
      width: 25%;
    }

    @media(max-width: 600px) {
      width: 30%;
    }
  }

  &__link {
    color: $text;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $hovered;
    }

    &:active {
      color: $active;
    }

    &:visited {
      color: $visited;
    }
  }
}