include ../block-title/block-title

mixin profile(data)
  - const {text, importantText} = data
  section.profile
    +block-title({name: 'Profile', icon: 'profile-icon.svg'})
    p.profile__text= text
      span.profile__text.profile__text_bold= importantText