@import '../vars';

.software {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem 0 0 0.5rem;
    padding: 0;

    list-style: none;

    @media(max-width: 600px) {
      display: block;
    }
  }

  &__item {
    width: 44%;

    font-size: 1.708rem;
    text-transform: uppercase;

    &:nth-of-type(2n+1) {
      margin-right: 11%;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding: 4% 0;
      background: $second-color;
      transform: translateY(-100%);
     
      @media(max-width: 600px) {
        margin-right: 0;
      }
    }

    @media(max-width: 1440px) {
      font-size: 1.25rem;
      line-height: 1.5;
    }
    
    @media(max-width: 1280px) {
      font-size: 1.125rem;
      line-height: 1.33;
    }

    @media(max-width: 600px) {
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__scale-value {
    position: relative;
    margin-top: 0.67rem;
    background: $main-color;
    padding: 4% 0;
    z-index: 10;
  }
}