@import '../vars';

.contact {
  display: flex;

  &__property {
    width: 31%;
    margin-bottom: 1.917rem;

    font-weight: bold;
    color: $main-color;
    text-transform: uppercase;
    
    @media(max-width: 1024px) {
      width: 20%;
    }

    @media(max-width: 600px) {
      width: 30%;
    }
  }
}