@import '../../vars';

.software-block {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.25rem 0 0;
    padding: 0 1%;
    list-style: none;

    @media(max-width: 600px) {
      display: block;
    }
  }

  &__item {
    width: 44%;

    @media(max-width: 600px) {
      width: 90%;
    }
  }
}