@import '../../vars';

.software-block {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 98%;
    margin: 1.25rem 0 0;
    padding: 0;
    list-style: none;

    @media(max-width: 600px) {
      display: block;
    }
  }

  &__item {
    width: 44%;
  
    @media(max-width: 600px) {
      width: 90%;
    }
  }
}