include ../block-title/block-title
include ../software/software

mixin software-block(data)
  section.software-block
    +block-title({ name: 'Software', iconPath: 'images/software-icon.svg' })
    ul.software-block__list
      each item in data
        .software-block__item
          +software(item)
