mixin history(item)
  - const theme = item.theme ? "history__header" : "history__header history__header_degree"
  - const secondTitle = !item.university ? item.job : item.university
  li.history__item
    h3(class=theme)= item.title
      span.history__dates= item.date
      span.history__second-title= secondTitle
    p.history__text= item.description