@import '../vars';

.history {
  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    position: relative;

    padding-left: 8.3%;
    margin-bottom: 0.96rem;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 2%;
      padding: 1.55%;

      background: #000000;
      border-radius: 50%;
    }
  }

  &__header {
    margin: 0;

    font-size: 1.71rem;
    line-height: 1;

    text-transform: uppercase;

    &_degree {
      color: $main-color;
    }
  }

  &__dates {
    font-weight: normal;
    text-transform: none;
    
    color: #000000;
  }

  &__second-title {
    display: block;
    margin-top: 0.459rem;

    font-weight: normal;

    color: #000000;
  }

  &__text {
    margin: 0;
    margin-top: 0.417rem;
  }
}

@media(max-width: 1440px) {
  .history__header {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

@media(max-width: 1280px) {
  .history {
    &__second-title {
      margin-top: 0;
    }

    &__header {
      font-size: 1.125rem;
      line-height: 1.33;
    }
  }
}

@media(max-width: 1024px) {
  .history {
    &__header {
      font-size: 1.33rem;
      line-height: 1.58;
    }

    &__text {
      font-size: 0.8rem;
    }
  }
}