@import '../../vars';

.head {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    margin-top: 1.875rem;
    border-radius: 50%;
    box-shadow: 0 0 0 21px $white, 0 0 0 23px $main-color;
  }

  &__title {
    margin: 0;
    margin-top: 2.85rem;

    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
  }

  &__firstname {
    display: block;

    font-size: 3.5rem;
    line-height: 1;
    font-weight: 100;
  }
  
  &__surname {
    display: block;

    font-size: 4rem;
    line-height: 1;
  }

  &__position {
    margin: 0;

    font-weight: bold;
    font-size: 1.58rem;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
  }

  &__add-name {
    margin: 0;
    margin-top: 1.79rem;

    font-size: 1.625rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
}