mixin head(data)
  section.head
    img.head__photo(src="blocks/head/photo.svg" alt='main-photo')
    h1.head__title
      span.head__firstname= data.firstName
      span.head__surname= data.surname 
    p.head__position= data.position
    p.head__add-name= data.addName