doctype html
html
  head
    meta(charset="utf-8")
    link(
      rel="stylesheet", 
      href="css/normalize.css"
    )
    link(
      rel="stylesheet",
      href="css/style.css"
    )
    title I'm a title
  body
    article(class="main")
      h1(class="main__title") Name here Surnam Graphic designer
    
    section(class="contact")
      h2(class="profile__title") Profile
      p(class="profile__text") 1111Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 

    section(class="contact")
      h2(class="contact__title") Contact
      table
        tr 
          td Address 
          td Main Street, City.
        tr
          td E-mail
          td contact@domain.com
        tr
          td Phone
          td 555-555-555
        tr
          td Website
          td www.yourweb.com

      section(class="skills")
        h2(class="skills__title") Skills
        h3 Creative
        h3 Teamwork
        h3 Innovate
        h3 Communication

      section(class="education")
        h2(class="education__title") Education
        h3(class="education__title2") Master degree // Feb 2011 - Jun 2014 University name
        p(class="education__text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        h3 Master degree // Feb 2011 - Jun 2014 University name
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        h3 Master degree // Feb 2011 - Jun 2014 University name
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        h3 Master degree // Feb 2011 - Jun 2014 University name
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

      section(class="experience")
        h2(class="experience__title") Experience
        h3 Company name // Feb 2011 - Jun 2014 Your job here
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        h3 Company name // Feb 2011 - Jun 2014 Your job here
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        h3 Company name // Feb 2011 - Jun 2014 Your job here
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

      section(class="software")
        h2(class="software__title") Software
        h3 Photoshop
        h3 Illustrator
        h3 Indesign
        h3 Dreamweaver
        h3 After Effects
        h3 HTML&CSS

