include ../block-title/block-title
include ../history-item/history-item

mixin experience(data)
  section.experience
    +block-title({ name: 'Experience', icon: 'images/experience-icon.svg' })
    ul.experience__history
      each item in data
        +history-item(item)