@import '../vars';


.skills {
  &__list {
    margin-top: 0.917rem;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.22rem;

    font-size: 1.708rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
  }

  &__graph {
    display: flex;
    margin: 0 9.5%;
  }

  &__circle {
    padding: 2.7%;
    border-radius: 50%;
    background: #e7e7e7;
    margin: 0 1.3% 0 1.55%;

    &_blue {
      background: #0270ba;
    }
  }
}

@media(max-width: 1440px) {
  .skills {
    &__item {
      font-size: 1.25rem;
      line-height: 1.5;
    }

    &__graph {
      margin: 0;
    }
  }
}

@media(max-width: 1280px) {
  .skills__item {
    font-size: 1.125rem;
    line-height: 1.33;
  }
}

@media(max-width: 1024px) {
  .skills {
    &__item {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    
    &__graph {
      width: 70%;
      margin: 1rem auto;
    }
  }
}

