mixin head()
  section.head
    img(class ='head__photo' src='images/photo.svg' alt='main-photo')
    h1.head__title
      span.head__title_firstname Name here
      |Surname 
    p.head__position Graphic designer
    p.head__add-name Name here