@import '../vars';

.title {
  display: flex;
  min-height: 4.92rem;
  margin: 0;
  padding-left: 5.4rem;

  font-size: 2.7rem;
  line-height: 1;
  color: $main-color;
  align-items: center;
  text-transform: uppercase;
  background-size: 4.85rem;

  @media(max-width: 1440px) {
    font-size: 1.96rem;
    line-height: 2.33;
  }

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 0.417rem;
    height: 0.333rem;
    transform: translateY(-100%);
    background:$main-color;
  }

  &_profile {
    background: url("../profile/profile-icon.svg") 0 0 no-repeat;
    background-size: 4.85rem;
  }

  &_contact {
    background: url("../contacts/phone-icon.svg") 0 0 no-repeat;
    background-size: 4.85rem;
  }

  &_skills {
    background: url("../skills/skills-icon.svg") 0 0 no-repeat;
    background-size: 4.85rem;
  }

  &_experience {
    background: url("../experience/experience-icon.svg") 0 0 no-repeat;
    background-size: 4.85rem;
  }

  &_education {
    background: url("../education/education-icon.svg") 0 0 no-repeat;
    background-size: 4.85rem;
  }

  &_software {
    background: url("../software/software-icon.svg") 0 0 no-repeat;
    background-size: 4.85rem;
  }
}