include ../block-title/block-title
include ../history/history

mixin education(data)
  section.education
    +block-title({ name: 'Education', icon:'education' })
    .education__history-wrap
      +history(data)

