include ../block-title/block-title
include ../history/history

mixin education(data)
  section.education
    +block-title({ name: 'Education', icon:'education' })
    ul.education__history
      each item in data
        +history(item)

