@import '../../vars';

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.708rem;
    line-height: 1.5;
    text-transform: uppercase;

  &__graph {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin-bottom: 1.25rem;
  }

  &__circle {
    width: 0;
    padding: 2.7%;
    border-radius: 50%;
    background: $second-color;

    &_blue {
      background: $main-color;
    }
  }
}