@import '../../vars';

.skill {
    display: flex;
    flex-direction: column;

    font-size: 1.708rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

  &__graph {
    display: flex;
    margin: 0 2.5rem 1.25rem;

    @media(max-width: 1440px) {
      margin: 0;
    } 
    
    @media(max-width: 1024px) {
      width: 70%;
      margin: 1rem auto;
    }
  }

  &__circle {
    width: 0;
    padding: 2.7%;
    border-radius: 50%;
    background: $second-color;
    margin: 0 1.3% 0 1.55%;

    &_blue {
      background: $main-color;
    }
  }
}