@import '../../vars';

.block-title {
  display: flex;
  min-height: 4.92rem;
  margin: 0;
  padding-left: 5.4rem;

  font-size: 2.7rem;
  line-height: 1;
  color: $main-color;
  align-items: center;
  text-transform: uppercase;
  background-size: 4.85rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  word-break: break-all;

  @media(max-width: 1440px) {
    font-size: 1.96rem;
    line-height: 2.33;
  }
  
  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 0.417rem;
    height: 0.333rem;
    transform: translateY(-100%);
    background:$main-color;
  }
}