@import 'vars';

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"),
     url("fonts/MyriadPro-Regular.woff") format("woff"),
     url("fonts/MyriadPro-Regular.ttf") format("truetype"),
     url("fonts/MyriadPro-Regular.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"),
     url("fonts/MyriadPro-Bold.woff") format("woff"),
     url("fonts/MyriadPro-Bold.ttf") format("truetype"),
     url("fonts/MyriadPro-Bold.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: local("MyriadPro"), local("MyriadPro"),
     url("fonts/MyriadPro-LightSemiExtended.woff") format("woff"),
     url("fonts/MyriadPro-LightSemiExtended.ttf") format("truetype"),
     url("fonts/MyriadPro-LightSemiExtended.svg#webfont") format("svg");
  font-weight: 100;
  font-style: normal;
}

html {
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.208;
  color: $text;

  @media(max-width: 1440px) {
    font-size: 22px;
  }

  @media(max-width: 1280px) {
    font-size: 20px;
  }

  @media(max-width: 1024px) {
    font-size: 26px;
  }

  @media(max-width: 850px) {
    font-size: 22px;
  }

  @media(max-width: 550px) {
    font-size: 20px;
  }
}