@import '../../vars';

.software {
  font-size: 1.708rem;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    padding: 0.7rem 0;
    background: $second-color;
    transform: translateY(-100%);
  }

  &__scale-bar {
    position: relative;
    width: 44%;
    margin-top: 0.67rem;
    background: $main-color;
    padding: 0.7rem 0;
    z-index: 10;
  }
}