@import '../../vars';

.software {
  width: 44%;
  font-size: 1.708rem;
  text-transform: uppercase;

  &:nth-of-type(2n+1) {
    margin-right: 11%;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding: 4% 0;
    background: $second-color;
    transform: translateY(-100%);
    
    @media(max-width: 600px) {
      margin-right: 0;
    }
  }

  &__scale-bar {
    position: relative;
    margin-top: 0.67rem;
    background: $main-color;
    padding: 4% 0;
    z-index: 10;
  }
}