@import '../../vars';

.software {
  font-size: 1.708rem;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding: 4% 0;
    background: $second-color;
    transform: translateY(-100%);
    
    @media(max-width: 600px) {
      margin-right: 0;
    }
  }

  &__scale-bar {
    position: relative;
    width: 44%;
    margin-top: 0.67rem;
    background: $main-color;
    padding: 4% 0;
    z-index: 10;
  }
}