include ../block-title/block-title
include ../contact/contact

mixin contacts-block(data)
  section.contacts-block
    +block-title({ name: 'Contact', iconPath: 'images/phone-icon.svg' })
    .contacts-block__list
      +contact(data)