include ../block-title/block-title
include ../history-item/history-item

mixin education(data)
  section.education
    +block-title({ name: 'Education', iconPath: 'images/education-icon.svg' })
    ul.education__history
      each item in data
        +history-item(item)
